<div class="text-center  " >
    <h1>Tienda Online - Online Store</h1>
    
    <p>Tienda Online es una empresa cuyo origen y ADN es netamente digital. Nace de la visión de la creciente necesidad de los usuarios del mercado de productos de calidad y rapidez en la entrega, de contar con una oferta amplia y variada de articulos y marcas, que cuenten con la garantía de los fabricantes más destacados.</p>
        
        <p>Nuestra misión es facilitar la vida de las personas en sus hobbies, tareas de mejora o refacción del hogar, proyectos personales y profesionales; con la más amplia oferta de herramientas y artículos, a precios competitivos y brindando una experiencia de calidad de la mano de un servicio acorde a las exigencias de nuestros clientes</p>
    
    <h5>Calle falsa 123</h5>
    <h5>mail: proyectoAngularJesusDiaz@gmail.com</h5>
</div>