<div class="bg-grey-J d-flex flex-row flex-wrap m-3 p-0" >

<div  class="card text-center d-flex flex-row align-items-center card-personalizada mt-3 ms-1 me-1 p-0" style="width: 18rem;"
*ngFor="let product of products"
[ngClass]="{ clearance: product.clearance }" >

  <img class="card-img-top " [src]="product.image" [alt]="product.name">
  <div class="card-body">
    <h5 class="card-title">{{ product.name }}</h5>
    <h5 class="card-title">{{ product.price |currency: 'ARS' }}</h5>
    <div>

      <span class="badge bg-danger text-dark" *ngIf="product.stock == 0"
      >SIN STOCK</span
      >
      <span class="card-text" *ngIf="product.stock > 0"> Stock: {{ product.stock }} </span>
      <span class="badge bg-warning text-dark" *ngIf="product.clearance"
      >OFERTA imperdible!</span
      >
    </div>
    <app-input-integer *ngIf="product.stock != 0" [(quantity)]="product.quantity" [max]="product.stock" ></app-input-integer>
      <button class="btn btn-primary" (click)="addToCart(product)" >Comprar</button>
  </div>
</div>


</div>