
<table class=" table table-striped bg-grey-J">
<thead>
    <tr>
        <th>Producto</th>
        <th>Cantidad</th>
        <th>Precio Unidad</th>
        
    </tr>
</thead>
<tbody>
    <tr *ngFor="let p of cartList$ | async" >
        <td>{{p.name}} </td>
        <td>{{p.quantity}} </td>
        <td>{{p.price}} </td>
        <div class="text-end">Total: {{aaa()}} </div>
    </tr>
</tbody>
</table>
<!-- *ngFor="let p of cartList$ | async" -->
<div class="text-end">
    <button>Comprar</button>
</div>
